/*   define mixin
==========================================================*/

@mixin css3flex(){
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex(){
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-radio($radio: none) {
  -webkit-box-flex: $radio;
  -webkit-flex: $radio;
  flex: $radio;
}

@mixin flex-auto() {
  -webkit-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  flex: 1 auto;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  flex: auto;
}

@mixin flex-1() {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}


@mixin fz($fz:16rem){
  font-size:$fz/$fzBase;
}

@mixin fz-rem($fz:12){
  font-size:$fz/$countRemBase * 1rem;
}

@mixin width-rem($size){
  width:$size/$countRemBase * 1rem;
}


@mixin linear-gradient($from, $to) {
  /* Fallback for sad browsers */
  background-color: $to;
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient($from, $to);
  /* Opera */
  background-image: -o-linear-gradient($from, $to);
  /* WebKit (Chrome 11+) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
  /* WebKit (Safari 5.1+, Chrome 10+) */
  background-image: -webkit-linear-gradient($from, $to);
  /* IE10 */
  background-image: -ms-linear-gradient($from, $to);
  /* W3C */
  background-image: linear-gradient($from, $to);
}


@mixin overflow-scroll(){
  overflow-x: hidden;
  overflow-y: scroll;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}